.display {
    color: white;
    font-size: 12px;
}

#makemodel {
    color: black;
    font-size: 16px;
}

.item {
    color: black;
}

.href {
    color: blue;
}

.pagetitle {
    color: black;
}


#item {
    display: block;
    width: 441px;
    height: 291px;
    background: url('./assets/spritesheet-loading.png?sprite') 0px 0px;   
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -0px;
    transform: scale(0.5, 0.5);
}

